# Build artifacts
/target/
/debug/

# Debian packaging artifacts
/debian/.debhelper/
/debian/cosmic-ext-applet-systemstats/
/debian/files
/debian/*.log
/debian/*.substvars
/debian/debhelper-build-stamp
/*.deb
/*.dsc
/*.tar.*
/*.changes
/*.buildinfo

# Flatpak artifacts
/flatpak/build-dir/
/flatpak/cargo-sources.json
/flatpak/repo/
/flatpak/build.txt
/.flatpak-builder/
/export/
*.flatpak
*.log
