[Desktop Entry]
Type=Application
Name=System Stats
Icon=systemstats-icon
Exec=cosmic-applet-systemstats
Terminal=false
Categories=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
