[Desktop Entry]
Type=Application
Name=System Stats
Icon=io.github.rylan_x.cosmic-ext-applet-systemstats
Exec=cosmic-ext-applet-systemstats
Terminal=false
Categories=System;Monitor;Utility;X-COSMIC;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
